[2016-11-28 10:43] peter-wangxu opened #1 "remove ostestr for windows compatibility"
ostestr can only run on POSIX system. so replace it with nose

[2016-11-29 05:27] #1 closed

[2016-11-29 05:54] peter-wangxu opened #3 "Fix windows compatibility issue"
**WindowsError: [Error 183]** raised when using persist-queue on Windows

[2016-11-30 10:36] #3 closed

[2017-05-11 02:20] Murray-LIANG opened #14 "Add persist dict"

[2017-05-19 07:25] #14 closed

[2017-05-19 07:25] Murray-LIANG opened #16 "Add `multithreading` to `PDict` constructor"

[2017-08-16 02:35] qingfeng0820 opened #19 "Thread safe for putting, how about getting?"
https://github.com/peter-wangxu/persist-queue/blob/10f7ec73812b92115e4e574a0fb1e5fcb59bc127/persistqueue/sqlbase.py#L14

[2017-08-17 02:02] peter-wangxu commented on #19
This is an issue in current implementation,
the `_pop` is not atomic, so duplicate item can be fetched by different threads.

https://github.com/peter-wangxu/persist-queue/blob/10f7ec73812b92115e4e574a0fb1e5fcb59bc127/persistqueue/sqlqueue.py#L39

[2017-08-17 13:00] peter-wangxu commented on #19
@qingfeng0820 will you push a fix for this?

[2017-08-18 05:25] qingfeng0820 commented on #19
Ok

[2017-08-24 13:33] peter-wangxu commented on #16
merged

[2017-08-24 13:33] #16 closed

[2017-09-01 01:42] peter-wangxu commented on #19
Should be fixed in https://github.com/peter-wangxu/persist-queue/pull/20

Closing this now.

[2017-09-01 01:42] #19 closed

[2017-10-08 03:34] ztgrace opened #22 "In-Memory Database Issues"
Cool, project! I've incorporated it into [changeme](https://github.com/ztgrace/changeme) and was looking at switching the disk-based FIFO queue to be an in-memory queue. It looks like you've got some code indicating you're interested in supporting an in-memory database but when I tried it out, I have run into a few bugs:

## :memory: Directory Gets Created
The first issue I noticed was that when s

[2017-10-08 10:45] peter-wangxu commented on #22
Hi Zach,
Thanks for using and reporting this bug, I will investigate and fix them in a later patch.

Thanks
Peter

[2017-10-09 17:27] delica1 opened #24 "FIFOSQLiteQueue: the get() method returns None instead of blocking"
and if I specify get(block=True) it raises the empty exception

[2017-10-10 01:07] peter-wangxu commented on #24
Hi how is your script?

When you create the queue with `auto_commit=False`, you need to call `queue.task_done()` to persist the change to disk.

alterlatively, you can set `auto_commit=True`, then you code should work as expect.

I also plan to change the default to `auto_commit=True` to keep the default behavior as of before `v0.3.0`
Thanks
Peter

[2017-10-10 05:59] peter-wangxu commented on #22
Fixed in version https://github.com/peter-wangxu/persist-queue/releases/tag/v0.3.1

[2017-10-10 06:31] peter-wangxu commented on #22
just FYI
I also filed a bug/query for adding a more power in-memory sqlite support: https://github.com/ghaering/pysqlite/issues/118

[2017-10-10 06:31] #22 closed

[2017-10-10 08:34] peter-wangxu commented on #24
It's all set in version v0.3.1 now.

[2017-10-10 09:12] delica1 commented on #24
Update: even with a timeout of 1000, I still get the "database is locked"
error. Not sure right now if the SD card is really that slow or if it's a
bug.

On Tue, Oct 10, 2017 at 10:59 AM, Almir Delic <almir.delic@gmail.com> wrote:

[2017-10-10 09:30] peter-wangxu commented on #24
I did have a Pi 3B before with a class 10 SD card:)

Did you have a change to run the benchmark script: https://github.com/peter-wangxu/persist-queue#benchmark

You may need to choose which queue to use on the Pi.

[2017-10-10 09:34] peter-wangxu commented on #24
BTW, you can try the file based queue for your case: https://github.com/peter-wangxu/persist-queue#example-usage-with-a-file-based-queue

[2017-10-10 09:39] delica1 commented on #24
They're quite nice little machines :) low power and fairly capable. I am
also using a class 10 SD card btw.

I tried the file based queue and this works fine, with no errors, but is
very slow. I was hoping the sql based queue might be faster, but it gives
me errors. I might later try attaching a USB stick and storing the DB on
it. Could be that the access speeds are better off a USB stick :)

But

[2017-10-16 13:20] jicahoo opened #27 "Is it possible that there are two time stamps with the same value?"
https://github.com/peter-wangxu/persist-queue/blob/8cd900781aa449d2e921bf5db953d02815110646/persistqueue/sqlqueue.py#L32

[2017-10-17 09:01] jicahoo commented on #27
File In Error.

[2017-10-17 09:01] #27 closed

[2017-10-24 07:14] #24 closed

[2017-10-24 07:16] peter-wangxu commented on #24
@delica1 I did a commit to speed up the sqlite3 overall performance via WAL. you can try it in your Pi3 now:)

[2017-10-24 07:25] delica1 commented on #24
Thank you Peter! Much appreciated. On vacation from tomorrow but will try
when I am back :)

On Tue, Oct 24, 2017 at 9:16 AM, Peter Wang <notifications@github.com>
wrote:

[2017-10-31 02:11] peter-wangxu opened #29 "CPU is overloaded when SQLQueue is empty"
When queue is empty, and if then some ``getter`` come, the cpu consumption would be high.

[2017-11-01 05:41] #29 closed

[2017-11-01 07:19] peter-wangxu opened #31 "in-memory queue is broken"
the multi-threading tests are consistently crash the python when using memory queue.

Need investigate.

[2017-11-04 01:20] jaytheking opened #33 "Request to fork and use persist-queue in task queue implementation."
I've been working on a similar project as this to create a task queue based on sqlite3, i found your project actually covers all my use cases for the queue part and don't want to re-implement largely the same functionality.

I want to ask permission to fork your repo and start integrating the server and workers component.

[2017-11-04 10:27] peter-wangxu commented on #33
@jaytheking

Forking is always welcomed, nobody can stop that:). please go ahead your work then.

BTW, you may decide to incorporate the source code into your project tree or simple set persist-queue as dependency, under both situations, I hope that found fixes can be ported to persist-queue as well thus benefiting the users of persist-queue.

Thanks
Peter

[2017-11-04 11:30] jaytheking commented on #33
Cheers, I just thought a heads up would be polite.

On 4 November 2017 at 23:27, Peter Wang <notifications@github.com> wrote:

[2017-11-15 14:22] #33 closed

[2017-11-19 16:20] sarev opened #34 "Feature request: peek head item"
Hi. It'd be handy to be able to peek the head item in the queue so you can deal with it and only pop off the queue when you've finished.

The value of a persistent queue is lessened without this feature. For example, if the reader crashes while uploading the thing it read into the cloud, or the cloud service is offline so it fails to upload, etc. I believe this is how more monolithic stuff like Ka

[2017-11-19 16:28] sarev commented on #34
Something along the lines of:
[code]

[2017-11-20 01:28] peter-wangxu commented on #34
Thanks for the great suggestion.

Looks like you have make some code changes locally, It's a pleasing thing that you can send the PR to me. I am OK to add this feature.

Thanks
Peter

[2017-11-20 16:26] sarev commented on #34
Cheers. Even nicer might be to add explicit `peek()` and `peek_nowait()` methods, which call the "_get()" method from my PR above.

[2017-11-22 12:21] Markkeli opened #35 "Queue size"
Hi,

Thank you for this great contribution! I was wondering whether there is any way to limit the queue size?

[2017-11-22 14:28] peter-wangxu commented on #34
Agreed, looking forward to your change:)

[2017-11-22 14:33] peter-wangxu commented on #35
The answer is YES and NO

the file based provides a `maxsize` parameter, while the sqlite based doesn't.

[2017-11-23 09:42] jamesporritt opened #36 "task_done not behaving as I would expect"
I've been playing with both the file and sqlite based queues. My understanding with both is that you can put items to the queue, you can get items, but only when you do a 'task_done' (per item in the case of the file based queue or once in the case of the sqlite based queue) does the item get removed. I could therefore 'get' what I like from the queue, but if I never did a task_done, I could kill

[2017-11-23 10:21] Markkeli commented on #35
Is there any way to get information of the sqllite based queue size?

[2017-11-23 12:45] jamesporritt commented on #36
So, with Queue, you would have two tails, a hard tail (marking the physical end of queue) and a soft tail (marking the next item to 'get'). The hard tail (so, self.info['tail']) would be manipulated by task_done. The soft tail would be manipulated by get and handle reading from the file pointers. I'll see if I can implement this.

[2017-11-23 13:35] peter-wangxu commented on #35
`queue.qsize()` will do the trick.

Thanks
Peter

[2017-11-23 19:42] sarev commented on #34
Hi Peter. I'm happy to supply the queue.py part but I've no idea how to do the SQL version.

[2017-11-23 23:22] peter-wangxu commented on #34
no problem, you could send the file part, i will later add the sql part.

[2017-11-24 08:08] peter-wangxu commented on #36
Thanks for the exploration.

I did a quick check for the SQLiteQueue, it's probably cause by a database commit caused by the sqlite3, I will need to investigate how to avoid this.

[2017-11-24 12:10] Markkeli commented on #35
Many thanks for your answers, Peter! One more question: does the qsize return the number of items in the queue or the size by some different measure?

[2017-11-24 12:35] peter-wangxu commented on #35
it returns the count of remaining items

[2017-11-27 05:46] peter-wangxu commented on #35
Question answered, closing it now.

[2017-12-01 14:35] #35 closed

[2017-12-05 15:38] grantjenks opened #38 "Performance Comparison with DiskCache"
Hi there -- author of python-diskcache here. I wonder what the performance of these two projects is like. DiskCache implements the collections.deque interface rather than queue.Queue but they are similar enough.

You may be curious to see the diskcache source for some speedup ideas. For example, you could go a bit faster with a higher pickle protocol version.

If you create a benchmark then please

[2017-12-06 06:03] peter-wangxu commented on #38
Thanks for sharing your idea, i will take a look of your implementation.

I did a simple run locally:

[code]

Previously, i did some profiling, the bottlenecks are writing to and reading from disk, merely the pickle part.

Thanks
Peter

[2017-12-06 06:38] grantjenks commented on #38
Interesting. I did some similar profiling. Here's what I saw:

[code]

The Deque.popleft() operation is much slower than your Queue.get() because diskcache is both thread-safe and process-safe. So while Queue.get can avoid writes to disk, Deque.popleft cannot.

[2017-12-06 13:00] peter-wangxu commented on #38
The `Deque.append` is around 2 times faster than Queue, it's worth trying a higher pickle.

Curious about how you achieve process-safe, basically, i think a call like `fcntl.lockf` is required:)

[2017-12-06 14:01] peter-wangxu commented on #36
@jamesporritt You can give a try for above fix, it addresses the issue you mentioned both for file and sqlite queue.

[2017-12-06 14:08] peter-wangxu commented on #34
@sarev After fixing the issue #36, your requirement can be achieved by using the `task_done`.

The reader only need a task_done after task is completed:)

Let me know if you have any comment here.

[2017-12-06 15:16] grantjenks commented on #38
DiskCache uses SQLite for transactions. It's process-safe and cross-platform; probably uses fcntl.lockf under the hood.

[2017-12-07 01:51] #36 closed

[2017-12-07 01:52] peter-wangxu commented on #34
I am closing this now. Please reopen it if this doesn't address your concern.

[2017-12-07 01:52] #34 closed

[2018-01-07 19:55] delica1 opened #39 "Unique items only (no duplicates)"
Not an issue but wasn't sue where to post this. Would it be possible to implement a queue that allows no duplicate items? Kind of like a set. On second thought it could be an option for the existing queue implementation too. I would try to add it locally for me but not sure how to check if an item already exists in the queue!

[2018-01-08 01:54] peter-wangxu commented on #39
Make sense to create a `set` like queue for your use case.

How is your data? Is it hashable?

[2018-01-08 06:20] delica1 commented on #39
Yes, it's strings!

On Jan 8, 2018 2:54 AM, "Peter Wang" <notifications@github.com> wrote:

[2018-01-08 07:02] peter-wangxu commented on #39
Did you use the file based queue or sqlite based queue?

On my first thought, storing the hash value in sqlite as a column is possible, we can check the uniqueness via SQL, but for filed based queue, no idea for now.

Do you have any idea?

[2018-01-08 08:31] delica1 commented on #39
I'm using the file based queue, but will try the SQL one again later today.
If I remember correctly my issue was that the get() call was not blocking,
but was timing out and I think this behaviour has now been changed.

The way I envisioned this to work was by implementing the __contains__
method. So if I type

"string" in p_queue

I will get a True or False. And then based on the same method, the

[2018-01-17 11:15] delica1 commented on #39
The SQL based queue works great for me right now! - I just switched
completely from the file based queue. Anyhow, if you think the
"non-duplicate allowing queue" is useful and want to implement it, that
would be fantastic. Otherwise if you think this is too specific to my case,
I can probably override the __contains__ method myself as well.

Almir

On Mon, Jan 8, 2018 at 9:30 AM, Almir Delic <almi

[2018-01-18 01:57] peter-wangxu commented on #39
That's a good news.

A `set` like queue can be useful in many cases. I do support adding this:

- it can be a new queue, say it's `SetQueue`, we can optimize it on demand
- either, doing as you mentioned.

Although, I prefer the first one, the second option is also welcome.
Do you mind sending out the PR for either solution?

Thanks
Peter

[2018-01-18 10:57] delica1 commented on #39
I don't know how to do a pull request but this should work:

[code]

[2018-01-18 11:26] delica1 commented on #39
This works for me but can't fully test right now.

[code]

[2018-01-19 01:47] peter-wangxu commented on #39
Looks fine for me, but need to add some test to cover this.

To create PR, please follow below steps:
1. fork this project.
2. clone your forked project to local.
3. create a new branch, say `unique_queue`, then begin to make changes and commit.
4. `git push origin unique_queue`.
5. then your can create the PR based your branch by clicking the button `New pull request` on this [page](https://githu

[2018-01-23 09:40] peter-wangxu commented on #39
@delica1 Do you meet any obstacle for the patch:)

[2018-01-23 19:41] delica1 commented on #39
Thanks for the instructions, Peter. Can't say I enjoyed the interface to do
this, but it worked out in the end (as far as I can tell).

On Tue, Jan 23, 2018 at 10:40 AM, Peter Wang <notifications@github.com>
wrote:

[2018-02-08 11:52] peter-wangxu commented on #39
Fixed in PR: https://github.com/peter-wangxu/persist-queue/pull/41

[2018-02-08 11:52] #39 closed

[2018-03-03 02:48] magistocrat opened #44 "How secure is a `pdict` deletion?"
I'm curious about this line in [particular](https://github.com/peter-wangxu/persist-queue/blob/master/persistqueue/pdict.py#L65). To what degree does a dictionary entry deletion destroy the entry, is it overwritten in memory/disk?

[2018-03-04 05:23] peter-wangxu commented on #44
It's as secure as the sqlite `delete` with transaction. It may or may not be overwritten.

Let me know how `secure` you want it to be:)
Thanks
Peter

[2018-03-04 15:52] magistocrat commented on #44
This [pragma](https://www.sqlite.org/pragma.html#pragma_secure_delete) tells SQLite to overwrite with zeroes when something is deleted, that should be sufficient for the usecase. I was just curious how to activate this functionality.

[2018-03-26 11:36] peter-wangxu commented on #44
Closing it now, please open new issue if you have more.

Thanks
Peter

[2018-03-26 11:36] #44 closed

[2018-05-08 22:37] KennyRIM opened #45 "Use the highest protocol version for pickle"
By default pickle uses protocol version 0, which is ASCII and not so efficient (at least in terms of space).

[2018-05-09 01:39] peter-wangxu commented on #45
What's the python version you are using, python2 and python3 supports different pickle versions.

I plan to use `Protocol version 2` to keep the best compatibility between python2 and python3

Thanks
Peter

[2018-05-09 11:42] KennyRIM commented on #45
I use python 2.7 for my project (and it looks like my previous statement about default protocol is applicable only to 2.x, sorry for overlook).

However, I'd say that protocol compatibility is secondary for such queue, since it's not distributed. Only two processes on the same machine using different python versions could run into compatibility problem.

BR
Nick

[2018-05-10 10:29] smetj opened #46 "OSError when /tmp and actual destination are different devices"
Hi,

If both `/tmp` and the directory holding the queue are located on separate devices you get following error:

[code]

[2018-05-10 12:38] peter-wangxu commented on #46
Hi @smetj

This can be resolved by adding the extra `tempdir` parameter when initializing the Queue:

[code]

Let me know if this fulfill your requirement.

Thanks
Peter

[2018-05-13 05:17] peter-wangxu commented on #45
@KennyRIM Do you have a chance to have a local test?

[2018-05-14 23:14] KennyRIM commented on #45
Hi,
- package's test ran ok in my env
- the project also runs fine
Thank you for the patch!

BR
Nick

[2018-05-15 02:09] peter-wangxu commented on #45
Included in https://github.com/peter-wangxu/persist-queue/releases/tag/v0.3.6

[2018-05-15 02:09] #45 closed

[2018-05-16 06:23] Dobatymo opened #48 "Atomic renames on windows"
For python 3.3+ you can use https://docs.python.org/3/library/os.html#os.replace
For older python versions you can use https://msdn.microsoft.com/en-us/library/windows/desktop/aa365240%28v=vs.85%29.aspx with `MOVEFILE_REPLACE_EXISTING` using `ctypes`.

[2018-05-17 11:51] peter-wangxu commented on #48
Thanks for the suggestion, will investigate and try to implement it.

If you have already done or are willing to implement, let me know.

Thanks
Peter

[2018-05-24 15:38] gleblanc1783 opened #50 "Issues where persistqueue is not thread safe"
Hi, I am using Persist-Queue in a multi-threaded environment where queue objects (UniqueQ) are being added and removed multiple times per second. Sometimes, I am seeing different threads obtain the same Queue object (see below):

[code]

As you can see, they are pulling from the same queue but getting the same file (sanitized paths, of course).

Here's how I am creating my queue object:

`q = pers

[2018-05-25 00:13] peter-wangxu commented on #50
What's the OS and Python version?

[2018-05-26 07:32] peter-wangxu commented on #46
Closing it now, reopen if the issue still occurs

[2018-05-26 07:32] #46 closed

[2018-05-26 08:28] peter-wangxu commented on #50
I added one test of multiple readers in multi-threading mode, but no luck, not able to reproduce.

You can run the all the tests via:
[code]
to verify if it's related to sqlite3 in your environment.

BTW, can you please share your versions as below:

[code]

[2018-05-29 11:40] gleblanc1783 commented on #50
Hi! Sure thing.

OS is Oracle Linux 7.4
Python version is 2.7.5

[code]

It looks like your SQLite3 version is newer, let me try upgrading that, testing it and reporting back. Also - I am going to upgrade to Python 3.6 anyways, will also try that.

[2018-05-31 13:55] gleblanc1783 commented on #50
Hi, I have upgraded my SQLite on my Operating system and I'm seeing the same issue. I will try the `tox` today and see what I can replicate.

[2018-06-01 02:12] peter-wangxu commented on #50
Bad news, if possible, you could share how you use the queue in your program, pseudo-code shall be enough.

[2018-06-01 13:30] gleblanc1783 commented on #50
Absolutely, here it goes.

### module1.py (Only 1 of these runs at a single time):
1. Gathers filenames from a directory, adds them to a UniqueQ:

[code]

### module2.py (Up to 8 of these are running at a single time via Apache Airflow)
1. Open the queue
2. Iterate over the queue, if there are still entries (queue.size > 0) continue popping until 0 or it meets it's worker maximum
[code]

Both queu

[2018-06-01 13:35] gleblanc1783 commented on #50
I've noticed that it *only* happens when two separate threads are trying to pop the queue at the same milisecond:

2018-06-01 13:20:**29,044** DEBUG    [2d058a8a-df97-4551-af4b-c91e920de18e] Processing ... 180601081806454213052-csv.tbz2
2018-06-01 13:20:**29,044** DEBUG    [3f94ffa7-45a4-41d0-a96f-ede1af5dacb6] Processing ... 180601081806454213052-csv.tbz2

The UUIDs are generated per thread for d

[2018-06-01 14:13] peter-wangxu commented on #50
Are the producer and the workers in separate processes or same process?

If in one same process, I suggest creating one queue and share it between producer and consumes.

If not, I tend to think it's somehow by design, the synchronization only works within one process.

[2018-06-03 18:47] EverWinter23 commented on #48
I want to implement it -- but I need more information on the issue.

[2018-06-04 02:18] Dobatymo commented on #48
something like that https://github.com/peter-wangxu/persist-queue/pull/52

[2018-06-04 03:51] peter-wangxu commented on #48
Hi @EverWinter23
Current persist-queue is using non-atomic interfaces (os.rename/os.remove) https://github.com/peter-wangxu/persist-queue/blob/ff7bfa79238bbedb1f15bd108bc3f51ad443ae5d/persistqueue/queue.py#L226) on windows.

as @Dobatymo suggested, `ctypes` can be leveraged to achieve atomicity on Windows just like any POSIX platform.

BTW, As I could recall, Windows cannot remove an using file di

[2018-06-04 04:19] EverWinter23 commented on #48
@peter-wangxu Thanks! :+1:

[2018-06-04 12:28] gleblanc1783 commented on #50
Oh great! I will test this today - thanks so much.

[2018-06-06 02:04] peter-wangxu commented on #50
@gleblanc1783 any progress till now?

[2018-06-17 12:38] peter-wangxu commented on #48
@EverWinter23 Do you need help or something blocks you?

[2018-06-17 12:39] peter-wangxu commented on #50
I tend to think it's solved by add `multithreading=True`, closing it now.

[2018-06-17 12:39] #50 closed

[2018-06-28 05:04] EverWinter23 commented on #48
@peter-wangxu Want to add tests corresponding to the addition.

[2018-06-28 06:04] cinterloper opened #55 "rollback?"
is there an opposite of task_done() where a commit can be aborted?

alternatively, is there a peek() function that will get the next value but not remove it from the queue?
my use case is moving a piece of data to another system, where i only want to remove it from the queue if its successfully persisted to the next stage of processing.

[2018-06-28 11:42] peter-wangxu commented on #48
Which scenario you want to test, you may need to refer to the existing ones

[2018-06-28 21:35] cinterloper commented on #55
Thanks for pointing that out

[2018-06-28 21:35] #55 closed

[2018-06-29 08:04] EverWinter23 commented on #48
@peter-wangxu The rename one on windows since I cannot test it as my primary and only Os is Linux.

[2018-06-29 08:08] peter-wangxu commented on #48
Did you notice the CI of your PR, it's running windows:)

[2018-06-29 17:37] EverWinter23 commented on #48
Yeah I did, but I don't know how to write tests. Help needed. Just point me in the right direction.

[2018-06-30 13:23] peter-wangxu commented on #48
you need to add tests in the file:     https://github.com/peter-wangxu/persist-queue/blob/master/tests/test_queue.py
the tests look like below:
[code]

Since you change the logic of `task_done`, you need to compose a queue, putting/getting data and calling the `task_done` to make sure the code change is under test

[2018-07-01 07:55] EverWinter23 commented on #48
@peter-wangxu Will do. Thank You. :+1:

[2018-07-02 12:54] dugdmitry opened #56 "File-based queue is unreadable after system hard reset"
Hello. I'm using the persist-queue library for storing python-objects locally in a file and then interact with them via multiple threads.
It works great for our purposes so far. However, in our current conditions, there are sometimes sudden system poweroffs / hard reboots, which sometimes happen exactly during the writing process to the local persistent-queue file.
This leads to the following cont

[2018-07-05 04:55] EverWinter23 commented on #48
@peter-wangxu I don't think we can add test cases corresponding to this commit as it does not involve
composing a Q.

 class Queue(object):
     def __init__(self, path, maxsize=0, chunksize=100, tempdir=None):
         """Create a persistent queue object on a given path.
         tmpfd, tmpfn = self._gettempfile()
         os.write(tmpfd, pickle.dumps(self.info))
         os.close(tmpfd)

[2018-07-06 07:21] peter-wangxu commented on #48
@EverWinter23 Fine for me, since no blocking CI issue, I am ok to merge your PR.

[2018-07-06 07:22] peter-wangxu commented on #56
Looks like error occurred when writing the middle of the file instead of the tail of file.

Will look into it

[2018-07-07 07:46] EverWinter23 commented on #48
:+1:

[2018-07-07 13:04] EverWinter23 commented on #56
Hey, @peter-wangxu the way it works right now, is that you write data to a temporary file and when data has been successfully written, rename the file to the correct destination file for atomicity, right?
Or am I wrong?

[2018-07-07 13:44] #38 closed

[2018-07-07 14:17] grantjenks commented on #56
Do you have a reliable way to reproduce the hard reboots? I would be interested in adding this testing to my [Disk Cache](http://www.grantjenks.com/docs/diskcache/) project. Disk Cache uses SQLite for Deque (queue-like) and Index (dict-like) objects which are persistent, thread-safe and process-safe.

[2018-07-08 15:10] peter-wangxu commented on #56
@dugdmitry can you please sent me the output of `ls -l` under the queue dir?
also please share with me the `info` file content?

[2018-07-08 15:51] peter-wangxu commented on #56
@EverWinter23 Yes and No, YES I did atomic writing for `info` file, but NO for the data queue file.
by design, if data is corrupted in queue file, the queue will try to remove the last unfinished write.

[2018-07-10 21:02] dugdmitry commented on #56
@peter-wangxu here is an output of `ls -l`

-rw------- 1 root root   120 Jul  2 12:46 info
-rw-rw-rw- 1 root root 70245 Jul  1 23:12 q01932
-rw-rw-rw- 1 root root 70712 Jul  1 23:30 q01933
-rw-rw-rw- 1 root root 70707 Jul  1 23:49 q01934
-rw-rw-rw- 1 root root 70806 Jul  2 00:07 q01935
-rw-rw-rw- 1 root root 70808 Jul  2 00:25 q01936
-rw-rw-rw- 1 root root 70815 Jul  2 00:44 q01937
-rw-rw-rw- 1 ro

[2018-07-11 16:07] peter-wangxu commented on #56
@dugdmitry The `tailf` file should not be corrupted by any reboot, since the queue only read (opened by `rb`) from it when calling `get`, is it possible that the file system itself corrupted the file in any way? for example the the file system cache?

[2018-07-12 22:45] EmersonDing opened #57 "_qsize() discrepancy with multiple queue object sharing same dir"
Not sure if it's a bug or mis-usage. In the case that two queue object is defined with same path, e.g.
[code]
Both q1.qsize() and q2.qsize() will be equal to 1, instead of 2. Because qsize() is calling _qsize(), which directly pull size from member variable `self.info['size']`, hence won't be aware the change from another object.

[2018-07-13 02:00] peter-wangxu commented on #57
The two instances of queue are not aware of each other. You should share instance instead.

[2018-07-13 16:23] dugdmitry commented on #56
@peter-wangxu We're using ext4 filesystem, without disk cache:

UUID=e9870704-b9e8-417c-a6c3-d8fd280d0307  /  ext4  noatime,errors=remount-ro  0  1
debugfs  /sys/kernel/debug  debugfs  defaults  0  0

The persistent queue file is located under `/var` directory, which is in `/`.
Maybe it has something to do with `ext4` filesystem, which uses journalling? I'm not a specialist in Linux filesystems, s

[2018-07-13 16:38] dugdmitry commented on #56
@grantjenks regarding the hard reboots reproduction. I will try to set up a test-bed, based on our project.
Most probably, the test-bed will be based on BeagleBone Linux SoC (https://en.wikipedia.org/wiki/BeagleBoard) with `debian 7`, `3.8.13 linux kernel` and `ext4` filesystem.
The reboots will be reproduced by either triggering the reset pin, or manually switching off the input power.
I could tr

[2018-07-14 11:39] peter-wangxu commented on #56
@dugdmitry thanks for the feed back, what's your python version and sqlite3 version?

[2018-07-14 18:50] dugdmitry commented on #56
@peter-wangxu
Here is python version we use:

Python 2.7.3 (default, Jun 21 2016, 21:00:47)
[GCC 4.6.3] on linux2
Type "help", "copyright", "credits" or "license" for more information.

sqllite3 version:

sqlite3.version
'2.6.0'

[2018-07-16 14:30] grantjenks commented on #56
@dugdmitry I would love some testing on Beagle boards. Try replacing the persistent queue with a diskcache.Deque object: http://www.grantjenks.com/docs/diskcache/tutorial.html#deque The API is the same as collections.deque in the standard library.

[2018-07-16 16:26] regulatre opened #58 "Sqlite3 database self-destructs if app aborted with ^C"
scenario: using persistqueue.SQLiteAckQueue, a few messages in queue but not yet consumed, process is terminated with SIGTERM or ^C. Subsequent attempts to run the app and use .get() to pull a message off the queue are met with the exception `OperationalError: Could not decode to UTF-8 column 'data' with text '?}q'` which is because the sqlite3 database contains one or more rows with invalid data.

[2018-07-16 17:30] regulatre commented on #58
In terms of the best way to overcome this sort of corruption we have to think of a way to handle it gracefully and such that it doesn't block the message from being queued or dequeued.

Ideally, we would want the sqlite3 library to more gracefully shut down and not corrupt the database in the event of an unexpected shutdown (it should catch the signal and run a cleanup function before going down)

[2018-07-22 12:54] peter-wangxu commented on #57
Closing it, as it is no an use case for persist-queue

[2018-07-22 12:54] #57 closed

[2018-07-26 08:34] quangdatv opened #59 "Bug happens when storing queue in different file system"
Hello, I got errors when storing queue data in different file system (`/tmp/` and my home folder are in different disks).

- Lib version persist-queue 0.4.0
- Code (filename `pq.py`):
[code]

- Exception trace
[code]

[2018-07-26 08:48] #59 closed

[2018-07-26 11:56] ilaipx opened #60 "Cannot use persist queue in docker when the persist path is mounted as a volume between host and container"
Repeating subject: Cannot use persist queue in docker when the persist path is mounted as a volume between host and container.

The error:
[code]

Thanks!

[2018-07-26 12:14] peter-wangxu commented on #60
Were the tmp and queue path located on different partition?

[2018-07-26 14:51] ilaipx commented on #60
No :) I just found this simple solution, thanks! Closing...

[2018-07-26 14:51] #60 closed

[2018-07-29 15:07] peter-wangxu commented on #60
Thanks, that's right way

[2018-08-03 06:30] EverWinter23 commented on #58
@peter-wangxu Does this only affect SQLiteAckQueue or does it affect other Qs as well which make use of the SQLiteAckQueue or database.

[2018-08-31 07:55] peter-wangxu commented on #58
Thanks for the feedback;
@regulatre @EverWinter23 The `get` and `put` itself are atomic anyway, but with regard to the filesystem, the mount option should also be taken into account.

Can you please share you mount option of queue file?
Thanks

[2018-09-04 15:07] Ejxqzgds opened #62 "Benchmarks are unclear to me"
There are no units given at the benchmarks. Is it a time value (e.g. `s`), i.e. higher values are worse, lower values are better? Or is it some kind of throughput (e.g. `Bytes/s`), which means higher values are better, lower are worse?

[2018-09-04 16:38] peter-wangxu commented on #62
The benchmark measures the time spent in writing/reading <COUNT> items into disk, the less the better.

[2018-09-12 15:20] #62 closed

[2018-09-21 07:18] Murray-LIANG opened #64 "Failed to persist data when specifying a path on a different device"
We found some failure in OpenStack tests. In our environment, the Cinder service is running inside a docker container.

[code]
Cinder logs showed :
[code]
From above log, `tmpfn` and `self._infopath()` passed to `os.rename` are two files on two devices.
In this case, `tmpfn` = `/tmp/xxxxx`, and `self._infopath()` = `/var/lib/cinder/xxxxx`

Inside docker, `/tmp` is an overlay filesystem, and `/var/

[2018-09-23 15:07] peter-wangxu commented on #58
Sorry for my late response
@regulatre @EverWinter23
The issue is easy to reproduce. This should be a bug for `SQLiteAckQueue` only, it's not reproducible for other sqlite queues.

@dexter-xiong can you please take a quick look firstly?

Thanks
Peter

[2018-09-23 15:17] peter-wangxu commented on #56
@dugdmitry this should be an issue regarding the underlying filesystem( for example you mounted via `data=journal`)

I am thinking about adding a `fsync` a some point arount writing.

Thanks
Peter

[2018-09-25 02:13] Murray-LIANG commented on #64
Inside the container,
[code]

so, calling `rename` on `/tmp` and `/var/lib/cinder` failed. Actually we could recommend the user to pass in the path like #46. However, the user cannot guarantee that the path passed in is always on the same device as `/tmp` in any system.

For example, on system A, `/tmp` could be on device `/dev/sda1` and `/var/lib/cinder` could be on the same device `/dev/sda1`, t

[2018-09-25 12:31] peter-wangxu commented on #64
Is the copy2 atomic? we need to keep Atomicity for the critical `info` file.

How about automatically changing the `tmp` dir to the same partition of the queue dir if they are not?

Thanks
Peter

[2018-09-25 14:47] peter-wangxu commented on #58
This should be resolved by GH-66

[2018-09-25 14:47] #58 closed

[2018-09-25 23:46] relud opened #68 "Implement AckQueue"
I want to try implementing `AckQueue` with raw file storage from `Queue` and ack support from`SQLiteAckQueue`.

Motivation: I need to reliably retry if I get transient exceptions when processing my queue, which is implemented most directly with ack support. I also need high performance, and the raw file storage in `Queue` performs faster than `SQLiteQueue` for me.

[2018-09-26 15:30] peter-wangxu commented on #56
@dugdmitry This should be fixed by GH-65, if the issue still exists, just reopen it.

[2018-09-26 15:30] #56 closed

[2018-09-26 15:39] peter-wangxu commented on #68
Hi @relud
What's your device type, SSD or Hard Disk?

You can do a quick benchmark, below is the result on my Mac, which indicates sqlite3 is faster :)
[code]

[2018-09-26 19:02] relud commented on #68
ah, you're totally right! Thanks for pointing this out, I won't waste my time. I was using too small of tests 😅 .

[2018-09-26 19:02] #68 closed

[2018-09-28 02:49] Murray-LIANG commented on #64
If the path is passed in like #46, can we dump the info to a temp file under that path, and then atomic rename to the actual info file?

Maybe we could pass in `tempdir` when initializing `Queue`.
[code]

[2018-09-28 07:18] peter-wangxu commented on #48
Close it now, it had been resolved by https://github.com/peter-wangxu/persist-queue/pull/54

[2018-09-28 07:18] #48 closed

[2018-09-28 11:19] peter-wangxu commented on #64
Git a try of above patch, it should solve the issue...:)

[2018-10-17 06:20] Murray-LIANG opened #72 "`atomic_rename` failure on Windows Python2.7"
I found below error during the CI test of storops. It reported by storops appveyor tests: https://ci.appveyor.com/project/emc-openstack/storops/build/job/y6tctpnpe54j4is0

I am just wondering whether you met this before on your Windows Py27 testing?

The version of persist-queue is `persist-queue==0.4.1`.

[code]

[2018-10-17 10:05] peter-wangxu commented on #72
py27 was passed on CI: https://ci.appveyor.com/project/peter-wangxu/persist-queue/builds/19169922

what's the type of `src` and `dst`?

[2018-10-18 08:55] Murray-LIANG commented on #72
[code]

[2018-10-18 09:56] Murray-LIANG commented on #72
Most of storops python source files set `from __future__ import unicode_literals`. This would make any string literal to be unicode.

In `TestPQueue` of `storops`,
[code]
And this would make `_infopath` in `Persist-Queue` and `dst` of `atomic_rename` to be `unicode`.

While in `Persist-Queue`, `unicode_literals` is not imported. And `src` of `atomic_rename` is returned by `tempfile.mkstemp()`, so

[2018-10-19 12:10] peter-wangxu commented on #72
@Murray-LIANG loooooking forward to your change:)

[2018-10-26 07:00] fake-name opened #74 "Global `enable_callback_tracebacks` call prevents importing under pypy3"
I have a bunch of code that operates under both python3 and pypy3.

Pypy has a complete `sqlite3` module, but they appear to not have implemented the non-DBAPI call `enable_callback_tracebacks()`. Currently, this is called unconditionally in multiple places on import of the `persistqueue` module.

[code]

Setting aside the fact that this should really probably be called on the construction of a `S

[2018-10-26 07:34] peter-wangxu commented on #74
@fake-name Got your concern, Can you please share your change and submit the PR?

My suggestion is to try .. catch the exception and ignore it , it's much pythonic:) in my opinion.

Thanks
Peter

[2018-10-26 07:40] fake-name commented on #74
I considered that, but the thing is, you *do* want to know about issues if you're on CPython.

Anyways, I had performance issues with SQLite, so I've switched to just using redis.

[2018-10-29 12:16] #74 closed

[2018-10-29 12:17] peter-wangxu commented on #64
Closed by https://github.com/peter-wangxu/persist-queue/pull/69

[2018-10-29 12:17] #64 closed

[2018-10-31 01:47] Murray-LIANG commented on #72
Sorry for the late response. I will do the fix next days. My proposal is that converting the `src` and `dst` to `str` or `unicode` first regardless of their original types.

What I don't understand is that why it chooses different `ctypes` move functions based on the type of **file paths**?

[2018-10-31 03:36] peter-wangxu commented on #72
AFAIK, this is the windows API limitation, `MoveFileExW` for unicode `MoveFileExA` for ascii only.
Agreed with you to convert, and we can use the former function for both str or unicode.

[2018-11-07 02:18] yifeikong opened #75 "How many messages can I put in persist-queue without performance impact?"

[2018-11-07 05:46] peter-wangxu commented on #75
some stats here:

[code]
disk size
[code]

[2018-11-08 16:22] melbaa opened #76 "queue length for SQLiteQueue is incorrect when running in multiple processes"
Possibly expected behavior, but I think it's worth reporting, because the queue looks usable otherwise.

The queue size is set only once on queue creation. ```self.total = self._count()```, so if we have a producer in 1 process and a consumer in another process, we end up with size in the negatives.

To reproduce, we need producer and a consumer that's faster than the producer.
[code]

[code]

Cal

[2018-11-09 13:29] peter-wangxu commented on #76
thanks for reporting, i haven't tested the queue in multi-process environment. if you find further issue. let me know, i am happy to add the support .

[2018-11-13 04:59] #75 closed

[2018-11-21 15:16] employee-1234567 opened #77 "ACK Queue: readme example for SQLiteAckQueue missing clear_acked_data()"
Unless I'm missing something, it seems the ACKQueue does not clean up after its self when you ACK the items. I discovered this function by looking over the unit tests. Is it expected that users call this function manually? It seems that ```clear_acked_data()``` should always be called after ```ackq.ack(item)``` if you don't want the sqlite DB to grow unbounded?

[2018-11-21 15:28] employee-1234567 opened #78 "ACK Queue: clear_acked_data() behavior"
Playing around with the ```clear_acked_data()``` function, it seems to hang on to the last 1000 acked queue items. Why is that? I've already acked the data, yet disk space continued to be used.

Looking at the code in question:
[code]

It seems that self._MAX_ACKED_LENGTH is a private member constant. Can this not be made tunable by the user (e.g.. a kwarg in __init__ for the class)?

I opened my

[2018-11-22 06:01] peter-wangxu commented on #77
Looks like dup of #78

[2018-11-28 06:20] Schroedingers-Hat opened #79 "SQLiteAckQueue get seems to treat falsy messages as not being present."
Apologies if this is designed behavior, but I encountered an issue with falsy messages.

Python 3.7, sqlite 3.24.0
[code]
Blocks instead of returning 0.

[2018-11-28 16:53] seatedscribe opened #80 "File based queue: how to clean old files?"
I am using a file based queue and all is working as intended, except...

I would expect that after issuing `queue.task_done()` the file on disk would shrink, in order to reflect the actual size of the queue and, most important, to avoid files growing unbounded.

I missed to find a solution to this issue; someone can shed a light please?
Thanks!

[2018-11-29 01:20] peter-wangxu commented on #79
This is definitely a bug

[2018-11-29 04:06] Schroedingers-Hat commented on #79
Anything I can do to assist reproduction further?

[2018-12-02 03:11] peter-wangxu commented on #78
@employee-1234567 do you mind providing a PR based on you mentioned above? I am pleased if you can do that.

Thanks
Peter

[2018-12-04 16:19] employee-1234567 commented on #77
I filed these as separate issues as I see this as a documentation issue. Basically, what this issue is asking is "do you expect users to explicitly call clear_acked_data()?" If so it should be added to the example in the readme and not left for someone to accidentally find it buried in the unit tests

[2018-12-04 16:20] employee-1234567 commented on #78
Sure, I'd be happy to. Before I make the PR, can you confirm if the propsed SQL is correct? I still feel like I'm missing something or I didn't understand the original intent. Is there a reason the existing code is keeping 1000 ACK'd items around?

[2018-12-08 12:15] peter-wangxu commented on #79
Fixed

[2018-12-08 12:15] #79 closed

[2018-12-10 07:01] dcj commented on #77
Yes, I have this same question, should users explicitly call `clear_acked_data()`, and if so, when/how often?

[2018-12-10 10:09] bavaria95 commented on #76
@ThunderRush As far as I understand, using get on an empty queue is supposed to *wait* until it actually can get something. If you don't want this behaviour - you can either pass `block=False` to the `get()` or pass `timeout` parameter with the maximal value you are ready to wait.

[2018-12-10 15:43] dcj opened #84 "SQLiteAckQueue file size growth"
I am using a SQLiteAckQueue between threads.

Every 1 second, the producer thread reads a JSON file that is ~20K bytes, into a dict, which is `put` onto the queue, and then issues`task_done()`.

The consumer thread blocks on `get`, then processes the queue-item, and when all goes well, calls `ack`, `task_done`, and finally `clear_acked_data`.

After about 8 hours, the queue/database file sizes are

[2018-12-10 17:11] dcj commented on #84
90 minutes later, here are the file sizes:

[2018-12-10 22:12] axfelix opened #85 "Can't test if the queue is empty?"
Hi,

I like this module a lot, I'm just not getting something -- because this doesn't seem to implement `queue.empty()` unlike regular Python queue, I'm not sure how best to break out of a while loop, like:

[code]

Assuming I'm overlooking something simple. Thanks!

[2018-12-11 03:58] peter-wangxu commented on #76
The multi-process support was not added in this lib currently, I would be happy if anyone has interest in providing this ability. @melbaa @ThunderRush @bavaria95

[2018-12-11 23:07] sionking opened #86 "Queue stuck on same item after each get()"
I am having this queue running for over 200 instances of my application.
I checked the logs of one instance and I saw itemX was inserted once.

Latter I get the item:
`Globals.validated_profiles_queue.get(block=False)`
this will return me "shahar.ha" which is **itemX**.
Then each time I do "get" I will find "shahar.ha" as the item~~!!!~~

The data files:
* IN COMMENT

Please assist.

OS: Windows 7

[2018-12-11 23:08] sionking commented on #86
[valid_users_q.zip](https://github.com/peter-wangxu/persist-queue/files/2669791/valid_users_q.zip)

[2018-12-12 03:14] peter-wangxu commented on #86
is there any sample/pseudo code?

[2018-12-12 03:48] peter-wangxu commented on #85
either, you can use `q.qsize()`

[2018-12-12 03:48] #85 closed

[2018-12-12 08:34] sionking commented on #86
Set:
[code]
Get:
`Globals.validated_profiles_queue.get(block=False)`

Nothing else.
I do use dropbox to sync files, maybe it corrupted the file ?

[2018-12-12 19:55] sionking opened #87 "FIFOSQLiteQueue VS SQLiteQueue VS FILOSQLiteQueue"
What is the different ? is it the FIFO/FILO only different ?
aren't SQLiteQueue and FILOSQLiteQueue are the same ?

[2018-12-12 20:20] sionking commented on #87
Now I get that SQLiteQueue  is FIFOSQLiteQueue, which is kind of confusion since Q is not FIFO.

[2018-12-16 13:43] peter-wangxu commented on #86
@sionking
I successfully reproduced the issue with the data you provided, I also tried with sqlite3 tool, the wired thing is that, i cannot event delete a row by _id(which is the primary key of table), so that's why the queue kept poping the same value as the previous item cannot be deleted from table. I wonder if the dropbox corrupted the sqlite3 data file some way:)

I suggest putting/getting da

[2018-12-16 13:47] peter-wangxu commented on #84
@dcj any update on your tests?

Was the latencies mitigated by the clear_acked_data? i wonder if this is the sqlite issue with large files

[2018-12-16 13:50] peter-wangxu commented on #87
Interesting, when I'm also in a dilemma when putting FILO in the so-called queue package, but these FILO implementations may help in some situations:)

any suggestion here?

[2018-12-30 05:36] dcj commented on #84
Yes, I changed my code to:

- ack
- task_done
- clear_acked_data

After  I did this, the the file sizes do not get out of control, and the latency is fine (unmeasured, but my app doesn't slow to a crawl...)

FYI, in my application, every second I read a JSON file (size, 10-30 kbytes on disk), and convert it to a Python dict.  This dict is then put onto a persistent-queue.  Another thread reads the

[2019-01-01 13:39] peter-wangxu commented on #78
@employee-1234567 please go ahead with your GH-82, the comment https://github.com/peter-wangxu/persist-queue/pull/82#issuecomment-444738084 had confirmed it's fine to proceed.

Thanks
Peter

[2019-01-01 13:42] peter-wangxu commented on #84
Good to know that. but this is the clear evidence that larger db files can slow down the sqlite performance dramatically:)

[2019-01-15 03:10] peter-wangxu commented on #84
Closing it now, will update doc accordingly later

[2019-01-15 03:10] peter-wangxu commented on #86
Closing it, Please reopen it if still exists

[2019-01-15 03:10] #86 closed

[2019-01-15 03:11] peter-wangxu commented on #80
Closing it now, it's inactive for a long time

[2019-01-15 03:11] #80 closed

[2019-01-15 03:13] peter-wangxu commented on #72
@Murray-LIANG any update?

[2019-01-17 02:52] kodonnell opened #88 "Bug: custom serializers aren't fully supported (unless they serialize info)"
E.g. if I write custom serializers for my objects, this fails when the info is serialized (using the same serializer). See e.g. [here](https://github.com/peter-wangxu/persist-queue/blob/d5c93ae1b74e3775aed7cdcda3444817ae898aaf/persistqueue/queue.py#L273). Solution would be to serialize info in a separate/standard way. Unless I've missed something ....

[2019-01-22 18:45] kodonnell commented on #88
OK, MRE:

[code]

Outputs:

[code]

As you can see, my serializer works correctly for adding/removing my `Point` objects to the queue (and presumably from, though the code doesn't get that far). But this fails because the queue tries to serialize info with the same serializer, which obviously fails.

Is that clearer now?

[2019-01-25 07:56] peter-wangxu commented on #88
Got it.

You may need to fall back the pickle if the load/dump if the value is not `Point`

Alternatively, you might give a try of the sqlite queue?

Thanks
Peter

[2019-01-28 09:29] kodonnell opened #89 "Using task_done() in multiple threads"
I'd like to use `Queue` to store items to be processed by threads. However, if one of the items fails to get processed (and `task_done` is hence not called) it's still possible that the item is removed from the queue persistently (whereas one would expect it not to be, as is usual behaviour).

Example:

[code]

Output:

[code]

As you can see, `'a'` was permanently removed, even though `task_done`

[2019-01-28 09:34] kodonnell commented on #89
Related: #34 #55

[2019-01-28 10:10] peter-wangxu commented on #89
@kodonnell this is known limitation for file queue. In my opinion,you should reenque the failed items so that it can be processed later, can this fit your case

[2019-01-28 19:49] kodonnell commented on #89
Sorry, I wasn't aware. Can this be documented? It's described as "thread-safe" and this doesn't really fit that bill. Also - doesn't the same apply to the sqlite queue? (I assume that's what the `SQLiteAckQueue` is for.)

Ah - so you mean every time I `.get()` I follow it with `.task_done()` - and then if a fail happens, I requeue it? This should work, though the FIFO order wouldn't be preserved -

[2019-02-02 06:07] occoder opened #91 "No exception raised when getting from empty queue"
When I tried to get data from an empty queue, I was expecting to get an exception or None return.
But in fact, the program was hung up until ctrl+C was pushed.

[2019-02-02 06:21] occoder opened #92 "No way to commit changes when using SQLiteAckQueue"
SQLiteAckQueue does not support auto_commit=True.
How could the queue changes be committed to the database?

[2019-02-02 08:51] peter-wangxu commented on #91
The default behavior is to block until data reaches the queue again.
You can try:
[code]

[2019-02-02 08:54] peter-wangxu commented on #92
The SQLiteAckQueue always use `auto_commit=True`

[2019-02-02 08:54] #92 closed

[2019-02-03 00:55] occoder commented on #91
Yes, it works, though the document of this repository lacks such information.
Thanks for making it explicit.

[2019-02-05 13:50] peter-wangxu commented on #91
Closing it as it's addressed by #93

[2019-02-05 13:50] #91 closed

[2019-03-10 05:11] EnzoRondo opened #95 "How to do vacuum for persistqueue.SQLiteQueue"
I want reduce size of file because it's inflated seriously even when queue is empty, and I see no ways to execute SQL 'vacuum' statement to reduce queue size on disk

how I can do that?

[2019-03-10 12:24] peter-wangxu commented on #95
This lib may require an additional method to do this, you can also use guide in this PR: https://github.com/peter-wangxu/persist-queue/pull/82#issuecomment-444738084

[2019-03-14 03:39] dcj commented on #78
Doesn't seem like @employee-1234567  is going to revise is PR.

[2019-03-27 23:50] sgloutnikov opened #96 "Logger in SQLiteAckQueue produces UnicodeDecodeError as it tries to print item as a string (Python 2.7)"
I stumbled upon a UnicodeDecodeError: 'ascii' codec can't decode byte... from the logger with certain values in SQLiteAckQueue + Python 2.7. After some investigation, it turns out that the problem lies with `log.warning("Can't find item %s from unack cache", item)` in combination with `from __future__ import unicode_literals` on Python 2.7.

Possible solutions:
1) Remove `from __future__ import un

[2019-04-01 05:51] peter-wangxu commented on #96
@sgloutnikov Agreed with you that should not log the item. I am going to propose a new PR later this week or do you mind send me the mentioned change?

[2019-04-02 02:39] #96 closed

[2019-05-07 14:52] #95 closed

[2019-05-09 16:15] TheBlueFireFox opened #99 "Request for file name api for SQLiteQueue"
I love this project and would like to request an option to set the db file name as in my (our) projects we have multiple persistent queues and would like to keep them all in the same folder for simplicity.

[2019-05-16 07:30] peter-wangxu commented on #99
@TheBlueFireFox fix is here, feel free to give try: https://github.com/peter-wangxu/persist-queue/pull/100

[2019-05-17 03:54] #99 closed

[2019-05-27 09:43] l0rb opened #101 "ACK Queue: put does not set status"
put() on an ack queue should set the AckStatus to ready for the newly inserted item.

[2019-06-14 00:20] allusernamestakenexceptthis opened #102 "Queue between two machines and problem of hanging on windows"
I made one code run on windows and another on linux. they have a shared folder where the database located via network share.   two problems I'm facing. the queue isn't properly updated. often when the one waiting for message is running in while loop, and I run the put operation. nothing pops up.   I used block=false to test this.  because without that I have another problem on windows.  the get op

[2019-06-14 02:03] peter-wangxu commented on #102
Can you please run the benchmark script on you share? Anymore only more info abort the network share and the trace after aborted?

[2019-06-14 06:12] daoxian opened #103 "文件Queue单机多进程情况下同时写入同一个文件不能用"
老哥， 这种情况下无法持续消费，会卡在那里不动

[2019-06-14 06:57] peter-wangxu commented on #103
这是一个已知的限制了, 多进程确实会有问题，可能需要引入文件锁，速度上会下降比较多。

考虑下是否可以使用Sqlite queue

[2019-06-14 12:17] peter-wangxu commented on #101
@l0rb the select will populate both records with  init and ready state:
[code]

[2019-06-16 13:51] peter-wangxu commented on #103
@daoxian 麻烦提供下代码示例，我准备等段时间支持下多进程的读写访问。

[2019-06-17 05:21] peter-wangxu commented on #101
Close it now, reopen if you still think this an issue

[2019-06-17 05:21] #101 closed

[2019-06-27 16:46] daniyalDE opened #104 "SQLite based Queues performance issue"
I have a Debian VM, i am working with File based queues as well as SQLiteAckQueue. The file based queues work perfectly however all the sqlite based queues are super slow. Initializing a queue itself may take upto 30 seconds or more and then each read/write is just as long. I tried the benchmark & tests and everything there seemed fine.

Also i have tried executing read/write queries through sqlit

[2019-06-27 17:01] peter-wangxu commented on #104
Can you please share some pseudo-code of your slow queue and the filesystem info?
the benchmark tests are running on tmp which different than where you locate the sqlite queue.

[2019-06-28 09:33] daniyalDE commented on #104
I can confirm that the issue was related to the disk partition i was using. The data was essentially going through different network and encryption layers before being written to that disk, i created a new partition and tested the queues on it and everything seems to be working perfectly.

[2019-06-28 09:33] #104 closed

[2019-08-03 04:12] Shravani-Rao opened #105 "msgpack does not get installed"
<img width="640" alt="Screen Shot 2019-08-02 at 9 07 44 PM" src="https://user-images.githubusercontent.com/6766079/62407251-e3d39a80-b569-11e9-8681-e3163eb76655.png">

Platforms tried - Ubuntu 16.04 and Mac High Sierra

[2019-08-04 00:51] #105 closed

[2019-08-09 09:24] daoxian commented on #103
shell里起多个写入实例就好了

[2019-09-05 12:53] chr15stevens opened #107 "What happens in the case that disk space ran out?"
Not sure if this is the right place to ask but I don't think there was any documentation on it.

What happens if the entire disk is used?
What happens in the case maxsize is set and reached?
Has there been much use around large queues?

[2019-09-06 02:40] peter-wangxu commented on #107
you should notice an error while putting

you will go exception `Full`

I haven't test that, but according a user, queue file can be as large as several MiB

[2019-09-06 09:44] chr15stevens commented on #107
Thanks for your reply Peter. So if I was looking for a persistent queue that would work up to potentially many GB would you advise your solution?

[2019-09-06 17:11] peter-wangxu commented on #107
It's not recommended to store huge data in file queue, instead sqlite queue should be fine for your case.
I did a perf test on my mac, here is result:
[code]
and the queue size is around 500MiB:

[code]

Hope above stats could help you.

[2019-09-07 11:42] chr15stevens commented on #107
Thanks Peter, I will give this a go!
Do you think there maybe should be a way to configure what happens on max size reach (or disk full) removing first or last entry or something?

[2019-09-14 19:56] jedie opened #108 "UniqueAckQ"
persistqueue.sqlackqueue.**UniqueAckQ** is not documented.

And it's not in https://github.com/peter-wangxu/persist-queue/blob/master/persistqueue/__init__.py

Is there anything against using **UniqueAckQ** productively?

[2019-09-15 11:31] jedie opened #109 "Add timestamp to quere and get newest items..."
I would like to add for every queue item a **timestamp** and then I'd like to always get the latest entry base on this inserted **timestamp** (and not at the time of the insertion).

To clarify: I don't want to get the entries in the order when they were inserted into the quere, but the receive order should be based on the additional timestamp ;)

Some background informations:

I would like to use

[2019-09-15 11:41] jedie opened #110 "queue.close() and/or queue.remove()"
It seems that there is no way to close the SQLite connection, isn't it?
A `del queue` seems not to close the SQLite files.

I would like to delete the persistent data in some cases. On Windows this will fail, because of: `PermissionError: [WinError 32] The process cannot access the file because it is being used by another process`

See full traceback here:
https://ci.appveyor.com/project/jedie/ite

[2019-09-15 14:23] peter-wangxu commented on #108
This should be a missing in original PR, it deserves a new minor fix :) @jedie

[2019-09-15 14:23] #108 closed

[2019-09-15 14:26] peter-wangxu commented on #109
@jedie This timestamp based queue should be implemented as a new queue, i think.

Do you mind providing the initial implementation for your idea? I am eager to see it happens!

[2019-10-01 12:15] jobh opened #111 "Table name is passed unquoted/unprotected to sqlite"
Since the table name is formatted into the SQL query directly, it cannot contain for example `-` or begin with a digit. It should be passed as a query parameter.

There's also the risk of sql injection if user-specified data is used for the table name.

[2019-10-02 14:59] #111 closed

[2019-10-02 14:59] #110 closed

[2019-10-16 13:47] Yomguithereal opened #114 "Add #.empty"
Hello @peter-wangxu, would you accept a PR adding the #.empty method to your queue implementations?

We could also add #.full but since the SQLite queue does not support `maxsize` I guess it would not make much sense.

[2019-10-18 07:22] #114 closed

[2019-10-31 19:49] AndyMan1 opened #116 "allow file Queue to (optionally) autosave on get()"
I'm trying out the file-based queue and it has what appears (to me) to be odd and unexpected behavior. Calling get() on the queue doesn't actually pop the item off the queue persistently. It seems you need to call task_done() after calling get() to save.

For example:
[code]
and then trying again:
[code]
That doesn't seem intuitive or correct. I'd expect the retry attempt's first `get()` call to r

[2019-11-01 02:52] peter-wangxu commented on #116
Agree with you.
The idea to implement `task_done` is to keep best compatibility with what's in the std lib.
If you want add the auto_commit flag, both `task_done` and `join` should be no-op with the enabled

I am fine to add this behavior and bear in mind the doc for this :)

[2019-11-05 09:58] peter-wangxu commented on #116
fixed by #118

[2019-11-05 09:58] #116 closed

[2019-11-13 11:50] BrightSirius opened #121 "More introduction about benchmark?"
Hi, could you give more introduction about benchmarks?  What is the meaning of numbers? I'm confused.

![image](https://user-images.githubusercontent.com/13163985/68761361-e0fb4200-064e-11ea-82eb-d6b8b7d58d81.png)

[2019-11-16 06:00] peter-wangxu commented on #121
Make a little change in doc, check it again.

[2019-11-17 14:53] #121 closed

[2020-01-09 15:18] gshefer opened #123 "Size limit does not work"
[code]
Isn't `q.qsize()` returned value should be 1000?

Also, the items are not save in the file:
`drwxrwxr-x  2 gshefer gshefer    4096 ינו  9 17:17 my_loved_q`

Am I missing anything?

[2020-01-10 10:10] peter-wangxu commented on #123
what's your version and OS, can you try:
[code]

[2020-01-13 15:53] gshefer commented on #123
works - thanks :-)

[2020-01-13 15:53] #123 closed

[2020-01-20 21:47] lautaromss opened #124 "Attribute 'queue' (used to get a copy of the data) missing from Queue in persistqueue"
In the standard Queue from python we can access the attribute queue to get a copy of the data, like so:

[code]

Notice that q.queue is an iterable object that contains each element of the queue, and since it's a copy of the data, accessing it doesn't modify the actual queue (when you use get(), you still get the first element). In contrast, the actual queue 'q' is not iterable and if you try to p

[2020-01-21 07:44] peter-wangxu commented on #124
you may give a try with `PDict` which supports iteration over the it.
I will also consider it a feature for file queue.

[2020-02-04 07:41] varungujarathi9 opened #125 "Cannot make multiple objects"
Currently, it is unable to work with multiple objects of class Queue since it reads from the latest file created by the` _qfile` method. This should not be the case, it should read from the explicit file created for that object. I can see that the `number` variable in `_openchunk` and `_qfile` methods is static. Making it `self.number` would solve the issue

[2020-02-05 10:11] peter-wangxu commented on #125
If you share file among multiple queue object, you have to lock the queue file on the disk with `flock`, otherwise, your queue may point at already-removed file, check it here:
[code]

how is your use case?

[2020-02-05 14:32] varungujarathi9 commented on #125
Hello Thank you for your response

I am using the library for storing frames coming from my IP based CCTV
cameras. I have multiple cameras and would be creating an queue object for
each camera, now it should create and read frame from explicit queue files
created for each camera object.

Eg: Camera 1 should produce/consume from file q00001 & Camera 2 should read
and write from q00002. But it seems

[2020-02-05 16:52] peter-wangxu commented on #125
The reason why different queues(start from same path i suppose) are reading/writing same qfile is that, they share a same `info` file, so I guess you want have a separate `info`?

possible to have 2 separate queue object from different path for you 2 camera?

[2020-02-05 16:57] varungujarathi9 commented on #125
Solved!!

I just basically gave different paths in constructors for different cameras.
Thanks a lot!!

---
Varun Gujarathi
Mob. No 8446025911

On Wed, 5 Feb, 2020, 10:22 pm Peter Wang, <notifications@github.com> wrote:

[2020-02-06 01:42] peter-wangxu commented on #125
Great!

[2020-02-06 01:42] #125 closed

[2020-02-06 22:03] luann-trend commented on #107
I have tried it out both file queue and sql queue, it seems like the space never reclaim even though the entries are removed from the queue.

[2020-02-07 12:37] peter-wangxu commented on #107
For file queue, the `task_done` should fulfill that

while for sql queue, you may need to perform manual `VACCUM`( https://sqlite.org/lang_vacuum.html)

[2020-03-07 00:17] imidoriya opened #126 "Clean DB"
As I queue jobs and complete them, the database doesn't decrease in size that I can tell in my tests.  I just appears to grow and grow, saving the history.  Once a job is complete, I want it gone as my jobs are large in size and I don't want it to store any anything.  How do I keep the DB clean so it only contains pending jobs, not historical ones?

[2020-03-08 14:39] peter-wangxu commented on #103
先关闭，如果有问题再开

[2020-03-08 14:39] #103 closed

[2020-03-09 03:32] #78 closed

[2020-03-09 05:41] peter-wangxu commented on #126
@imidoriya This feature is provided in master branch, give a try and kind me let know the result

Thanks
Peter

[2020-03-10 02:33] #107 closed

[2020-03-10 16:19] imidoriya commented on #126
I wasn't able to see any shrinkage with my test.  I submitted several jobs where the db-wal increased in size up to 2.2MB and it just stayed there after all jobs were completed / acked and `clear_acked_data` and `shrink_disk_usage` were run.  So while I was able to test it fine, it didn't appear to do anything in my test.  I didn't see any errors reported.

Opening up the data.db, I still see 10 j

[2020-03-10 17:04] imidoriya commented on #126
Actually, setting `q._MAX_ACKED_LENGTH = 0` did appear to fix `clear_acked_data` but `shrink_disk_usage` didn't decrease the db size, even though it's now empty.

[2020-03-11 03:36] Cologler opened #128 "Any plan to support dict api?"
Any plan to support them in the future?

https://github.com/peter-wangxu/persist-queue/blob/54bf1c2e90095fbf1595791ef9034d1bd211c4e4/persistqueue/tests/test_pdict.py#L16-L24

I can make a pull request.

[2020-03-11 04:08] peter-wangxu commented on #128
@Cologler please go ahead sending out the PR!

[2020-03-11 17:34] imidoriya opened #129 "nack option - end of queue"
It would be nice if there was an option for nack that sent it to the end of the queue.  Right now I'm doing an ack and doing another put, which may be what you would do internally, but anyway, figured I'd ask.  I'm running into the issue of a job failing and then it just continues to retry the same job over and over with a nack, failing each time.  After so many tries, I'll probably do a ack_faile

[2020-03-12 21:55] imidoriya commented on #126
Database is currently at 167MB for the data.db and 50MB for the data.db-wal.  The after clear_acked _data, the shrink_disk_usage didn't change the size.

[2020-03-15 16:05] peter-wangxu commented on #129
Can this be fulfilled by `ack_failed` followed by a `put`?

[2020-03-16 12:27] imidoriya commented on #129
I expect so - I'm doing it now with an ack followed by a put.  What's the difference with the ack and ack_failed?  Is it just a status difference? I run `clear_acked_data` after each job to delete acks, so not sure of the difference.  Essentially, I just want it to try again later and move it to the back of the line.  Just wasn't sure if there was a cleaner way to do it than creating a new job.

A

[2020-03-21 06:24] Cologler commented on #128
I found https://github.com/RaRe-Technologies/sqlitedict.

[2020-03-21 06:24] #128 closed

[2020-03-24 16:15] VictorKozachek opened #130 "Unique value or methods to check if item already exists"
Hi,

Is there any way to control unique value during PUT method or any method to check if item already exists?

Thanks

[2020-04-11 15:51] peter-wangxu commented on #126
@imidoriya sorry for the late response...
the implementation of  `clear_acked_data` is somehow weird as it only marks 1000 items each time, so the followed   `shrink_disk_usage` may not shrink the file size dramatically.

I will follow up by a new pr to change the behavior of `clear_acked_data`

[2020-04-11 16:10] peter-wangxu commented on #126
with the new change on my local, I can see the db size change, here is the sample code

[code]

[2020-04-15 19:55] imidoriya commented on #126
Excellent - thank you :)

[2020-04-21 06:40] deepnarainsingh commented on #124
Hi @peter-wangxu  is this feature available for the file queue ?

[2020-04-23 20:55] ozen opened #132 "Concurrent multiprocess usage"
Hi,

Thanks for the great work.

I think this is a question and not an issue, but couldn't find a better place to post.

Can one sqlite db file be used by more than one processes concurrently via SQLiteQueue?

I don't see any reason why it couldn't be, but I can't find any mention of multiprocessing, and wanted to be sure.

[2020-04-28 03:32] peter-wangxu commented on #132
multiprocessing is not supported and verified for both file and sqlite queues.

technically, sqlite queue is supported but some efforts are still needed to make it production ready.

[2020-05-06 12:02] jmrichardson opened #133 "Pre populate file based queue with contents of file"
Hi, is there a way to pre-populate a queue with the contents of a file vs iterating over every line and doing a put?  Perhaps a batch operation? Thanks

[2020-05-08 04:04] peter-wangxu commented on #133
This should be useful in many cases, while it should not be core part of queues, instead it should be as an extra tools if need to be included in persist-queue.
how do you think?

[2020-05-08 15:02] imidoriya opened #134 "can't start new thread"
I'm following the guidance on [Multi-thread usage for SQLite3 based queue](https://github.com/peter-wangxu/persist-queue#multi-thread-usage-for-sqlite3-based-queue) using the SQLiteAckQueue.  It quickly starts issuing errors that `can't start new thread`.  I've even set the `num_worker_threads` to 1, but it still hits this issue.  Online searches seem to indicate I'm running into an OS limitation

[2020-05-08 15:13] imidoriya commented on #134
Perhaps it is an issue with SQLiteAckQueue not having a "join" statement?

[2020-05-08 16:05] peter-wangxu commented on #134
the sample code only create fews threads, did you try with other host?

[2020-05-08 16:51] imidoriya commented on #134
I only have the one host, but this is what my class looks like.  In my main thread, I call the put() for this class to add new items.
[code]

[2020-05-09 15:53] peter-wangxu commented on #134
It doesn't look like a issue by the code snippet or persist queue, i suggest that find a new host for a quick test.

Thanks
Peter

[2020-05-14 08:10] #134 closed

[2020-05-14 11:36] NovaNekmit opened #135 "Tests included in installation"
When installing this via pip, the tests are also installed as a top-level package, which is problematic if another project is also using `tests` for their tests, since `import tests` might import the persist-queue tests if "." is not first in sys.path (ie when using `nose2` to run that projects tests).

[code]

[2020-05-15 17:51] vmgustavo opened #136 "Can't setup a functional queue with multiple processes"
I am trying to use this library in the following setting:
* Script to GET from the Queue
* Script to PUT into Queue

This PUTs
[code]

This GETs
[code]

If I start the PUT script first and later the GET script everything works fine if a put is called before a get. However after the end of the for loop in the PUT script if I restart the script the GET script gets stuck into the else, meaning the qu

[2020-05-15 20:17] imidoriya commented on #134
Thanks, I hope to work on it next week and will do so on a dev box.

[2020-05-19 08:06] mars1024 commented on #135
/kind bug

[2020-05-19 08:06] mars1024 commented on #135
/label bug

[2020-05-29 12:31] bigtonylewis commented on #136
I think I have the same issue.  I'm looking for a persistent, file-based queue where one or more processes can write items to the queue, and one or more processes can read.  If I have a single `put()`ing process and a single `get()`ing process, it works until the `get()`ing process loops back for another time to see what's new in the queue.

Does or should `persist-queue` handle this OK?

[2020-05-29 12:34] bigtonylewis commented on #136
Just saw #132, indicating files and sqlite can't be used across processes

[2020-06-12 14:05] imidoriya commented on #126
So this is odd - I had shrink_disk_usage disabled for a while and I just turned it back on.  I have the job running in a thread as documented here.  After it runs the shrink_disk_usage, the jobs no longer run.  It appears I can add new items to the queue, but maybe the loop gets closed as the jobs themselves no longer run.

[2020-06-12 14:19] imidoriya commented on #126
I wonder if having multiple threads is preventing the vacuum from working properly and it just sort of hangs it.  Do you have any examples of perhaps more of an async wait_for_complete process - curious if that would work better than trying to use sqlite in a thread safe way.

[2020-10-29 12:56] LayneSadler opened #137 "Does persist-queue work in a sqlite database with other existing tables?"
Hey there, thanks for the simple queue tool.

When I run `q = persistqueue.SQLiteQueue(db_path, auto_commit=True)` on an empty `.sqlite3` file it works fine.

However, when I run it on a database where an ORM (peewee) has created existing tables, I get the error below.

I plan on giving `persist-queue` its own file, but just wondering if other people have gotten it to work in a shared sqlite datab

[2020-10-29 17:24] #137 closed

[2020-10-30 19:29] ghost opened #138 ".get() hangs when queue is empty"
persist-queue 0.5.0 on JupyterLab 2.2.4 on Python 3.7.6 on macOS 10.15.6

[code]
^ this just hangs

[code]
^ used that as a workaround, but I thought you should know.

`queuelib` returns `None` when popping an empty q

[2020-11-01 04:46] peter-wangxu commented on #138
The default behavior is to block, you can specify timeout=0 parameter for the purpose

[2020-11-05 15:11] alexandre-macedo opened #139 "New release"
Hello,

Thank you for the project.

Are you planning on releasing a new version on pypi with `SQLiteAckQueue.shrink_disk_usage` ?

Thank you.

[2020-11-09 05:39] peter-wangxu commented on #139
Released in v0.5.1

[2020-11-09 05:39] #139 closed

[2020-11-10 00:25] raokrutarth opened #140 "Error logging can be improved when the DB write is not possible"
The code block below creates a new dict but fails when the file system does not allow file locks (or something else related to permissions).

[code]

But, the error points to a missing attribute at first instead of terminating the app at the DB lock error:
[code]

[2020-11-10 04:11] PhracturedBlue opened #141 "JSON serializer documentation is wrong"
the seializer documentation says to use:
[code]
But this should be:
[code]

[2020-11-10 04:16] PhracturedBlue opened #142 "Can't dequeue corrupted pickle item"
Persist-Queue 0.5.0
I don't know how I got into this state, but I have a corrupted queue that I cannot remove items from.
[code]
I can clearly wipe the queue, but I don't think this should be able to happen in the 1st place

[2020-11-24 18:26] imidoriya opened #143 "Move nack to end of queue"
I have a situation where some of my jobs seem to be stuck and it ends up blocking the rest of the jobs.  When a job is `nack` it stays at the front, so the same job just keeps getting run over and over again.  It's not failing.. just not completing.    For now, I expect the only option would be to `ack` and create a new job, but it would be awesome if we could add an option, something like `nack_b

[2020-11-24 21:01] imidoriya commented on #143
I didn't realize I had already put in this request. https://github.com/peter-wangxu/persist-queue/issues/129

[2020-11-24 21:01] #143 closed

[2020-11-24 21:07] imidoriya commented on #129
This would just be a on option of efficiency, but one method would be to have the self._select() ORDER BY timestamp ASC and then have an option to update the timestamp on nack.  This would essentially put it to the back of the queue. Might need to create an index on timestamp.

[2020-11-24 21:10] imidoriya opened #144 "qsize() reports negative value"
Using the SQLiteAckQueue multithreaded and I'm trying to get a count on the queue size using qsize(), but sometimes I'll see negative numbers. I think that the issue is the `_unack_cache`  is not included in the total queue size, which I think it probably should be as it hasn't yet received an `ack/task_done`  So in a mutlithreaded situation where you have 10 get calls, you're going to report a qu

[2020-12-02 00:22] mariansam commented on #144
Happens to me too.

Steps to reproduce:
[code]
(hit ctrl-d)
[code]

[2020-12-07 22:32] imidoriya commented on #144
@mariansam, I've just written my own call for the moment while this issue is under review by @peter-wangxu .  Maybe it will help you.
[code]

I can see where not including the `_unack_cache` might be the desired result, so I'm interested to hear Peter's thoughts.  In `sqlackqueue.py`, `qsize()` calls `self.size` which calls `self.total`.  So I think there is some room to have qsize() include the u

[2020-12-09 17:19] bbookman opened #145 "Suppress message "Default is not on the same filesystem with queue path .. ""
Just tried this library and I see the following:

`Default tempdir '/tmp/tmp_37pg8kl' is not on the same filesystem with queue path 'this_queue.txt',defaulting to 'this_queue.txt'.`

Other than trying to handle this oddly in my code, how might I suppress this message? IMO,  it is informative but perhaps should not be displayed unless there is an actual error

[2020-12-09 17:25] bbookman opened #146 "__str__ for Queue feature request"
I'm probably dumb, but for debugging I'd like to always see the entire queue.  Can you add an __str__ method to Queue please

[2020-12-09 17:39] bbookman opened #147 "Permanent removal from queue?"
Again, I'm dumb and new to queuing.  Exactly how do I REMOVE something from the queue.  task_done does not seem to do it either..

[code]

[code]

[code]

[code]

[2020-12-09 17:42] bbookman commented on #147
```del q ``` does not seem right either

[code]
[code]

[2020-12-09 17:47] bbookman commented on #147
This just does not seem true, again though - i'm dumb

[2020-12-09 17:48] bbookman commented on #147
I want to remove a **single item** from the queue.  I'm confused

[2020-12-09 19:36] imidoriya commented on #146
I'm not the developer, but I think your request could use some clarification.  A queue would probably be a `list` of whatever you put in it (a `dict` in my case).  Not sure what adding a `str` method to the queue would actually do or what debugging it would give, perhaps the path to the file?

[2020-12-09 19:45] imidoriya commented on #147
I haven't used the base `Queue` very much, but I use the `SQLiteAckQueue` and I `ack` completed items, which removes them.  Then you can run `clear_acked_data` if you want to delete the historical `acked` items.

[2020-12-10 04:37] peter-wangxu commented on #147
[code]

[2020-12-10 04:37] peter-wangxu commented on #147
@bbookman see my code snippet

[2020-12-10 16:37] bbookman commented on #147
Thank you so much!  I'll give this a shot in my code.

[2020-12-10 16:39] bbookman commented on #146
i think i misunderstood the tool.  However, even though I could implement something in code where I "get" everything from the Queue without removing items, it would be a nice feature to add that to the core class.

[2020-12-10 16:48] imidoriya commented on #146
If you're looking to get sort of the raw select results and loop through the items yourself, I did this recently.
[code]

[2020-12-10 16:53] bbookman commented on #147
Sorry, I really am missing something

[code]
[code]

Note these messages, in case they shed light on what is happening

[code]

[2020-12-10 16:56] bbookman commented on #147
Another oddity...  I assumed these messages about **default tempdir** mean that a **default** file is created if you do not give Queue an argument...  but

[code]

[2020-12-10 16:58] bbookman commented on #147
Looks like I had something in memory/cache.  It works as described.  Sorry.
[code]
Default tempdir '/tmp/tmpor0fp0jy' is not on the same filesystem with queue path 'tmp',defaulting to 'tmp'.
Default tempdir '/tmp/tmpzg_oz_x_' is not on the same filesystem with queue path 'tmp',defaulting to 'tmp'.
a
b
[code]

[2020-12-10 16:58] #147 closed

[2020-12-24 18:55] InzamamAnwar opened #148 "Accessing Queue on Two Different Machines"
Hi,
Persist-queue is an elegant solution for disk based queuing and easy to use as well.

Now, my idea was to use a shared folder between two machines and put the queue in that folder. On one machine I am populating the queue in one process and consuming it in another process, of course setting `multithreading=True`. But When I access the queue from the other machine where I only want to consume/g

[2020-12-31 18:06] cnrmck commented on #126
Any update on this, I am also running into a persistently growing db and I need to run async?

[2021-01-20 16:22] imidoriya opened #149 "Queue Item Metadata"
If I do a `queue.get()`, it gives me the data in the queue, but there is metadata with items such as the id, timestamp, and status.  I'd like to be able to read the timestamp.  Is there an easy way to do that when I get() a queue item?  Thanks

[2021-02-09 17:33] ElusiveTau commented on #149
There is a conceptual problem with your question: why should the queue care about the metadata of the items it stores?

[2021-02-09 18:32] jeffg2k commented on #149
Had I been forward thinking, I might have added my own timestamp to the data itself, but I'm trying to know when a job was created so that I can expire them after a period of time.

[2021-02-09 18:39] imidoriya commented on #149
Yeah, that's what I was thinking too.

[2021-02-17 22:07] cnrmck opened #150 "Why is _MAX_ACKED_LENGTH Hardcoded?"
In this code, _MAX_ACKED_LENGTH is hardcoded:
https://github.com/peter-wangxu/persist-queue/blob/5ce10afcfcd81afd46a9eae32ba085d8ae900240/persistqueue/sqlackqueue.py#L35

Why is it hardcoded to 1000? I need to remove about 10 to 100 thousand acked entries each time I run this, is there any reason I shouldn't change _MAX_ACKED_LENGTH to 100_000 and then run that?

[2021-02-17 22:08] cnrmck commented on #150
Related to https://github.com/peter-wangxu/persist-queue/issues/126

[2021-02-19 15:50] peter-wangxu commented on #150
Currently, the `clear_acked_data` only delete 1000 at max each time, `VACCUM` usually dost NOT take too much difference.

[2021-02-19 17:05] cnrmck commented on #150
@peter-wangxu Thank you for the response. Why does `clear_acked_data` only delete 1000 at a time?

Is there a way I could fix this? I'm happy to contribute this is a pretty important requirement for me.

[2021-02-20 09:32] peter-wangxu commented on #150
You can look around the function `clear_acked_data` at https://github.com/peter-wangxu/persist-queue/blob/32acfdecf2dad5f286139ce7dc4e6202b0bcae50/persistqueue/sqlackqueue.py#L114

[2021-02-20 16:18] peter-wangxu commented on #145
You can simply specify `tempdir=./` to suppress that

[2021-02-20 16:18] #145 closed

[2021-02-20 16:20] peter-wangxu commented on #142
is there any power failure or disk failure on your machine?

[2021-02-20 16:23] peter-wangxu commented on #141
@PhracturedBlue can you please kindly submit a fix for it?

[2021-02-20 16:23] #138 closed

[2021-02-20 16:32] peter-wangxu commented on #135
can you please give a try on 0.5.1? it's no longer an issue:

[code]

[2021-02-20 16:36] peter-wangxu commented on #84
checkout latest doc.

[2021-02-20 16:36] peter-wangxu commented on #77
please check it out in latest doc

[2021-02-20 16:36] #77 closed

[2021-02-20 16:38] #135 closed

[2021-02-20 16:39] #84 closed

[2021-02-20 16:58] PhracturedBlue commented on #142
It is very unlikely there was a hardware reboot, but I can't rule it out.  This software runs on hundreds of machines in an enterprise environment and the issue was several months ago.  In 99% of our systems, a reboot would wipe /tmp, so the queue qouldn't be there, but there is a small chance we had a reboot on one of the systems that preserves /tmp.  There is no realistic possibility of us havin

[2021-02-20 19:39] traderpedroso opened #151 "suggestion mongodb support"
there is any chance to support mongodb in future??

[2021-02-21 14:59] peter-wangxu commented on #151
There is no plan for that before, but I am happy to see that happens:)

[2021-02-28 19:07] traderpedroso commented on #151
would be Great for realtime read and write capacity thanks for your attention Ill close the issue

[2021-02-28 19:07] #151 closed

[2021-03-01 06:19] bradmorg opened #152 "Does this not work between simultaneous python processes?"
Hello,

If I open two python IDLE sessions, they cannot work from the same queue.  Is that working as intended?

Also for SQLite - is there any documentation for how to create the database? A quickstart guide would be helpful.

Thanks.

[2021-03-01 06:35] peter-wangxu commented on #152
Yes, working for multi-threading, not multi-process

Just follow https://github.com/peter-wangxu/persist-queue#example-usage-with-a-sqlite3-based-queue

[2021-03-08 05:37] #152 closed

[2021-03-19 15:23] kstratis commented on #149
I second that.

I think the ideal thing to go for would be to return a metadata hash (or just an id) each time we place something in the queue. This is usually called "job id" which in this case could be replaced with sqlite's `_id` field.

Such a solution would also pave the way for more advanced functionality like deleting an unprocessed item from the queue or even updating its data.

What do yo

[2021-03-25 02:42] aditya-novasignal commented on #59
I see that the issue is closed, I am getting the same error using version 0.5.1. How were you able to solve this?

[2021-03-25 04:27] peter-wangxu commented on #59
This usually happens when in docker environment.
you can specify the (tmpdir='/abc') to solve it

[2021-03-25 04:38] aditya-novasignal commented on #59
Thanks Peter! I ended up discovering the result shortly after at the below link, but I appreciate the response.

https://www.pythonanywhere.com/forums/topic/11248/

[2021-03-25 15:49] imidoriya commented on #129
What might be better is a way to go to the "next" job in the queue.  Then you wouldn't have to put anything to the back.

Right now, it's goes like this.
[code]
I don't know how to move forward and get the next one.  This is particular needed when I'm trying to get a certain type of job if I have multiple job types that can run at the same time.  I have to ack_failed / put 10,000 jobs to get to 50

[2021-04-01 14:42] imidoriya commented on #130
Here is something that I do as I start my application to clear any duplicates where I have an associated event and a job type.  It could also be used to keep track of entries and check against it.  I'm using a SQLiteAckQueue `q.ack` in this example to clear it, but you could just `get(id=row.get("id"))` to clear it in the other Queues.  **Note this uses the PR fork** #153 which is being reviewed f

[2021-04-01 15:53] imidoriya commented on #130
The `UniqueQ` or `UniqueAckQ` only allows for unique items.  I should be using that myself. lol

[2021-04-06 07:05] issahammoud commented on #148
I have the same need as well!
In fact, I was looking for a disk-based thread-safe way to communicate between different machines on shared disk.
It was strange that this feature is not supported by default until I paid attention to "...stored in disk IN CASE OF ANY CRASH".
Do you know about a solution for this problem, other than creating lock on the disk?

[2021-04-07 02:53] #124 closed

[2021-04-07 02:53] #126 closed

[2021-04-07 02:53] #129 closed

[2021-04-07 02:53] #144 closed

[2021-04-07 02:53] #146 closed

[2021-04-07 02:53] #149 closed

[2021-04-07 02:53] #150 closed

[2021-04-07 06:11] peter-wangxu commented on #148
This feature requires an external database like mysql or postgresql.
can this be fulfilled in your environment.

Thanks
Peter

[2021-04-07 15:54] issahammoud commented on #148
I want to have the same functionality as described above. I want to run 1 worker per machine to put data in the queue (on nfs), then the master process (machine) will get the data.
I can't see why this cannot be accomplished with SQLite?

Thank you for the great work by the way.

[2021-04-08 11:03] InzamamAnwar commented on #148
@peter-wangxu by external database you mean separate sqlserver running somewhere and accessible by IP? Than yes It can be incorporated.

@issahammoud when I experimented it was not possible with existing implementation. If you are able to run and can share it than please do contribute.

[2021-04-08 14:46] issahammoud commented on #148
@peter-wangxu @InzamamAnwar
It is my first time using SQLite, so I am not the expert of the topic.
After a quick search on the Internet, I found the source of the problem, which is the journal_mode setted to WAL (Write-Ahead Logging).
As they claim (see https://www.sqlite.org/wal.html): "All processes using a database must be on the same host computer; WAL does not work over a network filesystem."

[2021-04-09 19:26] imidoriya commented on #76
Recent updates have added `max(0, count)` to remove a negative `qsize()`. That doesn't change the overall issue, but prevents impossible size results.  On the Ack Queues, a new `active_size()` was added which includes the nack cache.  It may be anecdotal, but I believe this has produced a more accurate return in my multi-threaded environment as it's calculating when an item is put/ack/ack_failed,

[2021-04-22 20:27] Yomguithereal opened #155 "SQLiteQueue put_nowait and get_nowait"
Hello @peter-wangxu,

To remain consistent with python's `queue`, it could be useful to also have a `#.put_nowait` and `#.get_nowait` on the `SQLiteQueue`. I can open a PR to add them but I need to check with you whether this makes sense or not. Indeed, it seems the `#.put` method has no `block` kwarg because it has to block?

[2021-04-22 20:48] Yomguithereal commented on #155
Ok, I understand that `#.put_nowait` does not really make sense because the sqlite queue cannot have a `maxsize`. In this case, should `SQLiteQueue.put_nowait` just be an alias of the `#.put` method? Or is this potentially confusing to users and should be avoided. On my end, this would make some third-party code relying on python queue interface more easy to use.

[2021-04-23 11:21] peter-wangxu commented on #155
I agree that persist-queue should make the be to keep compatibility with the standard queue api.

[2021-04-23 11:28] Yomguithereal commented on #155
Thanks for merging the PR @peter-wangxu. What's your take regarding `#.put_nowait`?

[2021-04-23 11:30] peter-wangxu commented on #155
same point, please go ahead. happy to see that PR

[2021-04-23 11:36] Yomguithereal commented on #155
My point is I am not sure how to implement the method in the case of the `SQLiteQueue` because the `#.put` method does not accept a `block` kwarg (which is expected since the queue does not accept a `maxsize` kwarg so it cannot be full). So should it just be an alias (all while adding a noop `block` kwarg to `#.put`) of `#.put`? Or is this maybe introducing some confusion for the users?

[2021-04-23 11:43] Yomguithereal commented on #155
In any case, I opened a PR illustrating what I mean.

[2021-04-24 10:10] SidharthBhat opened #160 "Issue when importing FIFOSQLiteQueue?"
First off, amazing work on persist-queue, it's a great solution for multiprocessing with queues. I used an older version of it for my own program, using a FIFOSQLiteQueue. However, I just update the library on my computer and now it doesn't seem to work anymore.

When I say using FIFOSQLiteQueue, I mean

`from persistqueue import FIFOSQLiteQueue`
`q=FIFOSQLiteQueue(path="./test", multithreading=Tr

[2021-04-24 11:12] #160 closed

[2021-04-24 11:13] SidharthBhat commented on #160
The problem wasn't actually with persistqueue, I'm just an idiot and accidentally had persist-queue and persistQueue (apparently a fork of persist-queue) both installed

[2021-04-25 21:21] #155 closed

[2021-04-26 13:18] #141 closed

[2021-05-28 11:25] decatur commented on #76
Yes, this seems to be a bug. So instead of

        while not queue.empty():
            item = queue.get(block=False)
            pprint(item)
            queue.task_done()

use the workaround

        while True:
            try:
                item = queue.get(block=False)
            except persistqueue.exceptions.Empty:
                break
            pprint(item)
            queue.task_do

[2021-06-09 08:27] cn-kali-team opened #166 "Is should be changed to =="
- I changed my data ID, and finally I couldn't ack it
[code]
- value `is` item
- value `==` item

- **warning** Can't find item in unack cache.

[2021-06-30 16:02] NovaNekmit opened #167 "[Regression] Can no longer retrieve None without raw=True"
It used to work with a previous version, but doesn't work anymore.

`None` can still be put inside, but getting it out (without raw) will get stuck ie [here](https://github.com/peter-wangxu/persist-queue/blob/master/persistqueue/sqlqueue.py#L135).

Not sure what would be best, there are couple options:
* Use an exception instead of "special return values" to signal no object
* Use an unique object

[2021-07-27 07:18] mbastida123 opened #168 "AttributeError: module 'persistqueue' has no attribute 'SQLiteAckQueue'"
I'm atempting to follow the example from the documentation page: https://pypi.org/project/persist-queue/

[code]

When I put this into the IDE I get the error:

[code]

I used this queue a couple of weeks ago but now I cannot figure out why it doesn't work.

[2021-07-27 07:48] peter-wangxu commented on #168
which version were you using ?

[2021-07-27 08:13] mbastida123 commented on #168
According to pip list:

`persist-queue                      0.5.1`

[2021-07-29 14:14] juha-ylikoski opened #169 "FILOSQLiteAckQueue _SQL_SELECT broken"
It seems that FILOSQLliteAckQueue's _SQL_SELECT is not formatted properly.

I'm getting:

[code]

This can be fixed by setting

[code]

->

[code]

Like in SQLiteAckQueue.

[2021-07-29 14:16] juha-ylikoski commented on #169
I can create fix + tests for this prob later today and create pr. (It seems there are currently no tests for FILOSQLiteAckQueue)

[2021-07-29 15:31] juha-ylikoski commented on #169
After trying to replicate this issue I cannot seem to be able to replicate it. I will try to replicate this tomorrow with my other computer where I found this issue.

[2021-07-31 16:51] juha-ylikoski commented on #169
The problems was with `q.get(raw=True`. The FILO-queue had missing parts of the row in the query -> index error. I'm gonna submit pr containing fix + tests soon.

[2021-08-06 09:47] peter-wangxu commented on #168
cannot reproduce on my local.

[code]
ipython2
[code]

[2021-08-26 16:25] KillahB33 opened #171 "qsize not changing"
I looked through the issues but the only "fix" I found was deleting the queue which doesn't make sense to me.
Basically I have some code that puts records into my file type queue, then later get() them and if the task they are used for is successful I do a task_done on the appropriate queue, but qsize is still reporting as 2 even though I have done a get() on both those records.

[2021-08-26 19:13] #171 closed, assigned to nobody

[2021-09-01 14:35] Yomguithereal opened #172 "pypi release"
Hello @peter-wangxu,

can we ask for a new pypi release containing the latest improvements and bugfixes? The latest one was from april.

Have a good day,

[2021-09-05 08:15] peter-wangxu commented on #172
Sure, will do work it out this week

[2021-09-05 09:40] Yomguithereal commented on #172
Thanks @peter-wangxu

[2021-09-05 15:27] peter-wangxu commented on #172
released!

[2021-09-05 15:27] #172 closed

[2021-09-05 15:34] peter-wangxu commented on #167
I personally prefer not adding the `None` into the queue since the `None` itself may cause other issue inside the queue implementation.

[2021-10-06 20:14] KillahB33 opened #173 "mySQL db"
I saw you mention in another issue that moving to an external database such as mysql would fix some issues with access a queue from multiple machines.
I currently have a Docker setup with two containers in one pod and I can post to the queue but my other container doesn't appear to be updating it's count for the queue, I switched to ack queue and it's still doesn't appear to be working.
So I am ho

[2021-10-08 14:08] peter-wangxu commented on #173
not very big change, i could try to give a version this weekend.

[2021-10-11 08:42] tahseenjamal opened #175 "SQLite objects created in a thread can only be used in that same thread"
Simple program. Why is this error " SQLite objects created in a thread can only be used in that same thread" throwing up ?

[code]

[2021-10-22 03:42] peter-wangxu commented on #173
Thanks for the investigation. i was busy with other stuff, will continue work on this later this weekend

[2021-10-25 05:52] dark-himaro opened #176 "File is not getting cleared after get() function"
I entered data to file in file-based queue. But after performing get() the elements from the queue is deleted but if we open the file we can still see the data. So i think the file size will keep on increasing if we keep on increasing data.

[2022-02-06 14:13] instasck opened #179 "Connection not die after kill signal."
I used to have the following code:
run.py
[code]
And some other process sent an kill for popen(run.py)
the process was still in memory since I used the singleton and the file was locked forever.
The issue was persistqueue.SQLiteQueue was not terminated .

[2022-02-09 13:25] AntonMelentiev commented on #176
Got the same issue. And @dark-himaro was right. File size keeps increasing.

After adding an element to the queue with `put()` and getting the last element with `get()`, `qsize()` will show that the number of elements in the queue remains the same, but the size of the queue file has increased.

[2022-02-10 00:53] peter-wangxu commented on #176
can you please show some code snippet and version？

[2022-02-10 08:10] AntonMelentiev commented on #176
Shure.
I try to get some buffer of video stream frames.
Next example shows basic realization and has debug prints which show that `qsize()` will be cleaned but disk size keeps growing.

[code]

[2022-02-18 03:25] peter-wangxu commented on #176
all you need is to using `queue.task_done` to persist you state(which in your case, remove the get data)

[2022-02-18 09:31] peter-wangxu commented on #176
only for get（）

this is covered by the readme

[2022-02-18 14:12] AntonMelentiev commented on #176
Unfortunately, it does not help.
I've added `queue.task_done()` right after `queue.get()` in the example above.
Disk space of the queue still continuously growing.

I also tried to add `queue.task_done()` at the end of while cycle to complete task at the end of each loop. It also doesn't help.

[2022-02-18 17:39] AntonMelentiev commented on #176
Let's kick-off process and thread at all and use `queue.task_done()`.
With the next example, the problem is still here.

[code]

[2022-02-20 15:51] #173 closed

[2022-02-24 07:44] jensanjo opened #180 "Queue gets corrupted after power cut"
I am using `persistqueue.Queue` to keep track of a list of pending ftp transfers.
After an sudden power down of the system the queue can not be loaded.

[code]
[code]

[2022-02-24 07:48] jensanjo commented on #180
Here is the test program and queue files to reproduce the problem.
[qtest.tar.gz](https://github.com/peter-wangxu/persist-queue/files/8130593/qtest.tar.gz)

[2022-02-24 10:48] peter-wangxu commented on #180
which version are you using？

[2022-02-24 12:16] jensanjo commented on #180
I am using 0.7.0 from Pypi

Op do 24 feb. 2022 11:48 schreef Peter Wang ***@***.***>:

[2022-03-06 15:24] peter-wangxu commented on #148
This should be accomplished by feature:https://github.com/peter-wangxu/persist-queue/pull/174
available for version 0.8.0-alpha

[2022-03-06 15:27] peter-wangxu commented on #180
thanks, more questions:
1: which  is your os kernel and the file system(ext4? xfs? and the mount info)
2: was the queue running within a container?
3: any other environment would be helpful

@jensanjo

[2022-03-06 15:30] peter-wangxu commented on #142
Yes, it's not acceptable that power failure crash the queue meta info file.

I saw [another similar issu](https://github.com/peter-wangxu/persist-queue/issues/180)e occurred, will investigate more on this.

[2022-03-06 15:37] #168 closed

[2022-03-06 18:35] jensanjo commented on #180
Thanks for looking into this.

1. The system is running mingw64 under Windows 10 Enterprise. File system: ntfs
2. Not running within a container
3. I have not tried to reproduce in another environment

I hope this helps!

[2022-04-21 17:18] InzamamAnwar commented on #176
I can confirm that the size of the file is not shrinking after `get`ing the elements from the queue. Below are two simple snippets which can be used to verify

### Populate the Queue
[code]
**The above code block will result in a file with ~40MB.**

### Depopulate Queue
[code]

**By poping out 90% of data should have reduced the file size by same 90% rather it stays same.**

[2022-04-22 12:11] peter-wangxu commented on #176
This issue is related to sqlite3 base queue, i will submit a small fix

[2022-04-22 12:42] peter-wangxu commented on #176
I did not able to reproduce your issue, here is my code, you can run local.

*create.py*

[code]

*delete.py*

[code]

[code]

[2022-04-23 06:10] #176 closed

[2022-05-05 15:22] mo-pyy opened #183 "sqlite vacuum not working"
I use SQLiteAckQueue with multithreading

I periodically run `queue.clear_acked_data()` and `queue.shrink_disk_usage()`.
It does not change the queue db file size.

When I run VACUUM with sqlite3 manually, the file size shrinks very much.

[2022-05-06 02:39] peter-wangxu commented on #183
What's the version of persist-queue and python?

[2022-05-07 14:09] mo-pyy commented on #183
persist-queue is v0.7.0 and python is 3.6.9

[2022-05-11 21:00] rayosborn opened #184 "Queue items not removed after each get()"
This issue is obviously related to #176, but that issue focused on SQL databases whereas this concerns file-based queues. The issue is, however, the same, i.e., that items remain on the queue even after they are retrieved with a call to `get()`. By serializing the queue with JSON, it is possible to directly view the contents of the queue, which explicitly shows that items remain on the queue, afte

[2022-05-12 19:34] rayosborn commented on #184
After a little investigation, I see that it is possible to roughly get what I want by reducing `chunksize` to 1. Then, each item is stored in a separate file, which is removed after the corresponding call to `queue.get()`.  Since I want to write a function to interrogate what is currently in the queue, this is a little more cumbersome than I would like, but it is at least functional. It would be u

[2022-05-13 14:52] peter-wangxu commented on #183
Please give a try with v0.8.0beta, it should fix the issue

[2022-05-14 15:02] peter-wangxu commented on #184
By default, every `chunksize=100` items stores in a single data file, when all items were get by `get`, the task_done will remove the tailf file from filesystem. setting chunksize to 1 is not recommendable( since it's inefficient to remove a file on each `get`), but workable for your case.

[2022-05-14 15:25] rayosborn commented on #184
Thanks. I have found that one nice feature is that I can instantiate the queue with `autosave=False` in order to list all the queue items, and then with `autosave=True` to use the queue as a FIFO. It's a useful package. If you want to close this issue, that's fine by me. My only suggestion is that it would be useful to add comments to the documentation about the queue items only being deleted afte

[2022-05-16 20:17] mo-pyy commented on #183
I tried v0.8.0beta, and now the file size shrinks, but only after the program finished execution. The problem is, that I need to shrink the size continuously without stopping the application.

[2022-05-22 08:00] peter-wangxu commented on #183
A workaround is to close the connection with `del queue`

[2022-05-22 08:01] #184 closed

[2022-05-22 08:57] #175 closed

[2022-06-03 15:16] #148 closed

[2022-06-03 15:17] peter-wangxu commented on #136
A new mysql based queue has been implemented in version 0.8.0, please give a try.

[2022-06-03 15:17] #136 closed

[2022-06-15 04:04] steve8210 commented on #136
Hi, which of queue type form persistqueue is backed by this?

[2022-08-13 19:06] ancieg opened #186 "Priority queue"
I haven't found any other active Python projects for managing persistent queues (only little-functional or nearly archived ones).
But this has a disadvantage (important for me) - it does not have priority queues.

I would be very happy if you add support for priority queues.

[2022-09-06 22:46] avineshwar commented on #89
Late here but use multiple similar queue having dedicated roles (i.e. not just 1 but 2 additional compensating queues); accordingly jump / swap between them. That should ensure FIFO.

[2022-09-07 14:41] dineshbvadhia opened #187 "What if data is already serialized"
Wrt file-based queues, if the data items for `q.put(item)` are already serialized (in my case, with json or msgpack) then what are the options with persist-queue ?

[2022-09-13 10:19] peter-wangxu commented on #187
persist-queue supports both, either raw object or serialized. you can choose based on your needs

[2022-09-13 10:19] #187 closed

[2022-09-16 15:21] dineshbvadhia commented on #187
Looking at the code, raw = True|False is available in the sql get/put functions but not for file-based queues ?

[2022-10-10 09:05] dineshbvadhia opened #188 "What if data is already serialized Part II ?"
Looking at the code, raw = True|False is available in the sql get/put functions but not for file-based queues or did I miss something ?

_Originally posted by @dineshbvadhia in https://github.com/peter-wangxu/persist-queue/issues/187#issuecomment-1249498019_

[2022-10-13 11:43] peter-wangxu commented on #188
When Raw=True, we return the internal the primary key id and timestamp along with the data
[code]

while for file based queue,
the item is also stored as it is, no extra metadata store in local file.

[2022-11-04 08:30] w1am opened #189 "Get() hangs when there is more than one job in the queue"
[code]

I tried setting `timeout=0` but it raises Empty error.